<div class="container">
    <div>
        <form class="d-flex flex-column" (submit)="add_user()">
            <label for="">Username: </label>
            <input type="text" name="username"[(ngModel)]="new_user.username" >
            <label for="">Email: </label>
            <input type="text" name="email" [(ngModel)]="new_user.email">
            <label for="">Password: </label>
            <input type="password" name="password" [(ngModel)]="new_user.password">
            <label for="Confirm Password">Confirm Password: </label>
            <input type="passwword" name="confirm_password">
            <p class="mt-4"><input class="btn btn-success mr-4" type="submit" [routerLink] = "['/dungeon_master']"> <button class="btn btn-warning" [routerLink]="['/player_page']">Cancel</button></p>
        </form>
    </div>
</div>