<div class="container">
    <div>
        <form action="">
            <label for="">Username</label>
            <input type="text" name="username" [(ngModel)]="new_user.username">
            <label for="">Email</label>
            <input type="text" name="email" [(ngModel)]='new_user.email'>
            <label for="Role"></label>
            <select name="role" id="" [(ngModel)]='new_user.role'></select>
                <option value="DM">DM</option>
                <option value="Player">Player</option> 
                <!-- We will likely use a modal to do the above -->
            <label for="">Password</label>
            <input type="password" name="password" [(ngModel)]='new_user.password' >
            <label for="Confirm Password"></label>
            <input type="passwword" name="confirm_password">
            <input type="submit" >
            <button [routerLink]="['/']">Cancel</button>
        </form>
    </div>
</div>