<div class="container">
    <div>
        <form class="d-flex flex-column" (submit)="add_user()">
            <label for="">Username: </label>
            <div *ngIf="name.touched">
                <p *ngIf="name.errors" class="text-danger">Name must be at least 3 chars long</p>
            </div>
            <input type="text" name="username" required minlength="3" [(ngModel)]="new_user.username" #name="ngModel">
            <label for="">Email: </label>
            <div *ngIf="email.touched">
                <p *ngIf="email.errors" class="text-danger">Email must be at least 3 chars long</p>
            </div>
            <input type="text" name="email" required minlength="3" [(ngModel)]="new_user.email" #email="ngModel">
            <label for="">Password: </label>
            <div *ngIf="password.touched">
                <p *ngIf="password.errors" class="text-danger">Password must be at least 8 chars long</p>
            </div>
            <input type="password" name="password" required minlength="8" [(ngModel)]="new_user.password" #password="ngModel">
            <label for="Confirm Password">Confirm Password: </label>
            <input type="password" name="confirm_password">
            <div class="mt-4"><input class="btn btn-success mr-4" type="submit" value="Register">
            <div class="btn btn-warning" (click)="clear_form()">Cancel</div></div>
        </form>
        <hr>
        
        <hr>
    </div>
</div>