<h3>List of Monsters:</h3>
<div>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
</div>

<h3>Your Monsters:</h3>
<div>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
    <option>monster name</option>
</div>
