<div class="wrapper">

    <div>
        <app-navigation></app-navigation>
    </div>

    <div class="body">

        <div class="image">
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/7/620/420/618/636286749289682134.png" alt="">
        </div>

        <div class="content mt-5">
            <app-new-char></app-new-char>
        </div>

        <div class="image">
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/258/420/618/636271801914013762.png" alt="char">
        </div>

    </div>

</div>