.wrapper{
    font-family: Luminari;
    font-size: larger;
    background-image: url(https://www.gmbinder.com/images/cPPYV7h.png);
    background-repeat: no-repeat;
    background-size: 2000px 1700px;
    background-color: black;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rightbod{
    display: grid;
    border: solid;
}
.leftbod{
    border: solid;
}
.topright{
    margin: 40px;
}
.botright{
    margin: 40px;
}