.wrapper{
    font-family: Luminari;
    font-size: larger;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRf55qEgxss6SZt3PXxAbbLT7G3CPZ6OM8qpA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: block;
    border: solid;
    background-color: lightgoldenrodyellow;
}
.body{
    display: flex;
    justify-content: space-evenly;
    border: solid;
    align-items: baseline;
}
.rightbod{
    display: grid;
    border: solid;
}
.leftbod{
    border: solid;
}
.topright{
    margin: 40px;
}
.botright{
    margin: 40px;
}