.wrapper{
    font-family: Luminari;
    font-size: larger;
    background-image: url(https://2.bp.blogspot.com/-Ca9lOugl9IY/VQoEpoRMOQI/AAAAAAAAAXw/tNx-ppE1XRA/s1600/Borderprinces.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body{
    display: flex;
    justify-content: space-evenly;
    border: solid;
    align-items: baseline;
}
.rightbod{
    display: grid;
    border: solid;
}
.leftbod{
    border: solid;
}
.topright{
    margin: 40px;
}
.botright{
    margin: 40px;
}