<div class="navbar">
    <a href="" [routerLink] = "['/monster_form']">Monster Form</a>
    <a href="" [routerLink] = "['/campaigns']">Your Campaign</a>
    <a href="" [routerLink] = "['/dungeon_master']">All Campaigns</a>
    <a href="" [routerLink] = "['/campaigns/new']">New Campaign</a>
    <a href="" [routerLink] = "['/player_page']">Your Characters</a>
    <a href="" [routerLink] = "['/character']">Character Info</a>
    <a href="" [routerLink] = "['/create']">Create a Character</a>
</div>

