<div class="container">
    <div>
        <p>20sided</p>
        <img src="https://previews.123rf.com/images/martialred/martialred1512/martialred151200052/49796805-20-sided-20d-dice-line-art-icon-for-apps-and-websites.jpg" alt="" (click)='roll_dice_20()'>
        <p>{{roll_20}}</p>
    </div>
    <div>
        <p>6 sided</p>
        <img src="https://www.clipartkey.com/mpngs/m/69-697514_blank-dice-free-clipart.png" alt="" (click)="roll_dice_6()">
        <p>{{roll_6}}</p>
    </div>
    <div>
        <p>4 sided</p>
        <img src="https://s3.amazonaws.com/files.thegamecrafter.com/065e9f80d93ac8fa2ebdd60b419775a446d28c93" alt="" (click)="roll_dice_4()">
        <p>{{roll_4}}</p>
    </div>
    <div>
        <p>12 sided</p>
        <img src="https://latex.artofproblemsolving.com/0/8/5/08541e5d1cec59e7dd49ea0bbdb45fe328dbecbb.png" alt="" (click)="roll_dice_12()">
        <p>{{roll_12}}</p>

    </div>
    <div>
        <p>8 sided</p>
        <img src="https://st4.depositphotos.com/14768666/24241/v/450/depositphotos_242419704-stock-illustration-dice-polygonal-number-icon-outline.jpg" alt="" (click)="roll_dice_8()">
        <p>{{roll_8}}</p>
    </div>
    <div>
        <p>10 sided</p>
        <img src="https://www.pinclipart.com/picdir/middle/186-1867006_drawn-dice-d10-clipart.png" alt="" (click)="roll_dice_10()">
        <p>{{roll_10}}</p>
    </div>
</div>