<div class="container">
    <div class="d20" (click)='roll_dice_20()'>
        <p>{{roll_20}}</p>
    </div>
    
    <div class="d12" (click)="roll_dice_12()">
        <p>{{roll_12}}</p>
    </div>
    
    <div class="d10" (click)="roll_dice_10()">
        <p class="p10">{{roll_10}}</p>
    </div>

    <div class="d8" (click)="roll_dice_8()">
        <p>{{roll_8}}</p>
    </div>

    <div class="d6" (click)="roll_dice_6()">
        <p class="p6">{{roll_6}}</p>
    </div>
    
    <div class="d4" (click)="roll_dice_4()">
        <p class="p4">{{roll_4}}</p>
    </div>
</div>