<div class='cform'>
    <form (submit)='onSubmit()'>
        <label for="name">Campaign Name:</label>
        <input type="text" name="name"  required minlength="3"><br>
        <label for="playerCount">Number of Characters in Campaign:</label>
        <select name="playerCount" id="playerCount">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select><br>
        <label for="description">Campaign description:  </label><br>
        <textarea id="description" name="description" placeholder="Write something.." style="height:400px"></textarea><br>
            <p>Are you the DM of this Campaign?</p>
            <input type="radio" id="No" name="question1" value="No">
            <label for="No">No</label><br>
            <input type="radio" id="Yes" name="question1" value="Yes">
            <label for="Yes">Yes</label><br>
            <input type="submit" >
    </form>
</div>

