<div class="wrapper">

    <div>
        <app-navigation></app-navigation>
    </div>


    <div class="body mt-5 ml-5">

        <div>
            <h1 class="text-center">Add a monster</h1>
            <app-monster-form></app-monster-form>
        </div>

        <div class="image">
            <img src="https://icon2.cleanpng.com/20180404/wfw/kisspng-dungeons-dragons-dungeon-master-s-guide-hoard-of-dungeons-and-dragons-5ac4ae2f15c899.7176463615228390870892.jpg" alt="dragon">
        </div>

    </div>

</div>