<div class="container">
    <div class="d-flex flex-column" (submit)="login()">
        <form action="">
            <p class="text-danger" *ngIf="login_error">{{login_error}}</p>
            <label for="">Username:</label>
            <br>
            <input type="text" name="username" id="" [(ngModel)]="user_login.username">
            <br>
            <label for="">Password:</label>
            <br>
            <input type="password" name="password" id="" [(ngModel)]="user_login.password">
            <br>
            <input class="btn btn-success mt-3" type="submit" value="Login">
        </form>
    </div>
</div>