<div class="container">
    <div class="d-flex flex-column">
        <label for="">Username</label>
        <input type="text" name="username" id="">
        <label for="">Role</label>
        <select name="role" id="">
            <option value="DM">DM</option>
            <option value="Player">Player</option>
        </select>
        <label for="">Password</label>
        <input type="password" name="password" id="">
        <input class="btn btn-success mt-3" type="submit" value="Login" [routerLink] = "['/dungeon_master']">

    </div>
</div>