.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#wrapper{
    font-family: Luminari;
    font-size: larger;
    background-image: url(https://i.imgur.com/VxJ8X1u.png);
    background-repeat: no-repeat;
    background-size: 2000px 1100px;
    background-color: black;
}
