<h1>this is where the nav bar goes</h1>

<div>
    <form>
        <table>
            <tr>
                <td>Monster Name:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>AC:</td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td>Health:</td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Create Monster"></td>
            </tr>
        </table>
    </form>
</div>