<div class="container">
    <form>

        <div class="form-group">

            <label>Monster Name:</label>
            <p><input class="form-control" type="text"></p>


            <label>Armor Class:</label>
            <p><input class="form-control" type="number"></p>


            <label>Health:</label>
            <p><input class="form-control" type="number"></p>


            <label>Description:</label>
            <p><textarea class="form-control" name="description" id="" cols="30" rows="10"></textarea></p>


        </div>

        <p><input class="btn btn-success" type="submit" value="Create Monster"></p>
        <button class="btn-warning" [routerLink] = "['/dungeon_master']">Cancel</button>
    </form>
</div>